*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body, .wrapper, .content{
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    min-height: 100vh;
    background-color: rgb(109, 42, 42);
    color: rgb(109, 42, 42);
}
.wrapper{
    background-color: white;
    padding: 30px 30px 80px ;
    flex-direction: column;
    width: 50vh;
    border-radius: 15px;
}
.wrapper img{
    max-width: 110px;
}
.wrapper h1{
    font-size: 35px;
    font-weight: 500;
    margin: 30px 0;
}
.wrapper .content {
    justify-content: space-between;
    width: 100%;
}
.wrapper .content.disable{
    opacity: 0.6;
    pointer-events: none;
}
.content .column{
    border-radius: 5px;
    padding: 0 10px;
    border: 1px solid #999;
    width: calc(100% / 3 - 5px);
}
.column select{
    outline: none;
    border: none; 
    color: rgb(109, 42, 42); height: 30px;
    font-size: 16px;
    cursor: pointer;
}
.wrapper button{
    outline: none;
    border: none; 
    color: white;
    font-size: 16px;
    width: 100%;
    margin-top: 30px;
    padding: 17px 0;
    background-color:rgb(109, 42, 42) ;
    border-radius: 5px;
    font-size: 22px ;
    cursor: pointer;
}
#err{
    color: red;
}